.headerDropdown {
    margin-top: 10px;
    width: 300px;
    position: absolute;
    right: 20px; /* Position the dropdown at the right corner */
    display: inline-block;
    z-index: 1000; /* Ensure dropdown is above other elements */
}

.filterDropdown {
    padding: 10px;
    border: 2px solid #5c5c5c;
    border-radius: 5px;
    background-color: #e0e0e0; /* Light grey background color */
    color: #333333; /* Dark text color for visibility */
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s, color 0.3s;
}

.filterDropdown:hover {
    background-color: #d0d0d0;
    color: #000000;
    border-color: #000000;
}

.filterContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filterLabel {
    font-weight: bold;
    color: #333333; /* Dark text color for contrast */
}

.filterSelect {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333333; /* Dark text color for visibility */
}