.dropdownContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdownHeader {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000; /* Ensure dropdown options are above other elements */
    max-height: 200px;
    overflow-y: auto;
}

.dropdownOption {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdownOption:hover, .dropdownOption:focus {
    background-color: #f0f0f0;
}

.colorPreview {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}