.rulesCell {
    position: relative;
}

.actionsCell {
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    display: flex;
    gap: 5px; /* Reduce gap between buttons */
    flex-wrap: wrap; /* Allow buttons to wrap within the cell */
}

.actionsCell button {
    max-width: 80px; /* Reduce maximum width for buttons */
    flex: 1; /* Allow buttons to take up available space */
    padding: 4px 8px; /* Adjust padding for better fit */
    font-size: 12px; /* Adjust font size for better fit */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .actionsCell {
        flex-direction: row; /* Display buttons in a row on smaller screens */
        gap: 2px; /* Reduce gap between buttons */
    }

    .actionsCell button {
        max-width: 50%; /* Allow buttons to take full width on smaller screens */
        align-items: center; /* Align button text to center */
    }
}