.productTableContainer {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 1440px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow-x: auto; /* Add horizontal scroll for product table */
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure table fits within the container */
    min-width: 600px; /* Ensure table doesn't shrink too much */
}

.productTable th, .productTable td {
    padding: 10px;
    border: 1px solid #e4e4e4;
    text-align: left;
    word-wrap: break-word; /* Ensure content wraps within the cell */
}

.productTable th {
    background-color: #e2e2e2;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .productTable {
        width: 100%; /* Ensure table takes full width on smaller screens */
    }
    .productTable th, .productTable td {
        font-size: 12px; /* Reduce font size */
        padding: 4px; /* Reduce padding */
    }

    .productTable tr {
        margin-bottom: 5px; /* Reduce margin between rows */
        border-bottom: 1px solid #ccc; /* Reduce border size */
    }

    .productTable td {
        text-align: left;
        padding: 4px; /* Reduce padding */
        display: flex;
        justify-content: space-between;
    }

    .productTable td:before {
        content: attr(data-label);
        font-weight: bold;
    }

    .productTable thead {
        display: none; /* Hide the header row on smaller screens */
    }
}

@media (max-width: 600px) {
    .productTable {
        width: 60%; /* Ensure table takes full width on smaller screens */
    }
    .productTable th, .productTable td {
        font-size: 10px; /* Further reduce font size */
        padding: 2px; /* Further reduce padding */
    }

    .productTable tr {
        margin-bottom: 5px; /* Reduce margin between rows */
        border-bottom: 1px solid #ccc; /* Reduce border size */
    }

    .productTable td {
        text-align: left;
        padding: 2px; /* Further reduce padding */
        display: flex;
        justify-content: space-between;
    }

    .productTable td:before {
        content: attr(data-label);
        font-weight: bold;
    }

    .productTable thead {
        display: none; /* Hide the header row on smaller screens */
    }
}