.productTableContainer {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 1440px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure table fits within the container */
}

.productTable th, .productTable td {
    padding: 10px;
    border: 1px solid #e4e4e4;
    text-align: left;
    word-wrap: break-word; /* Ensure content wraps within the cell */
}

.productTable th {
    background-color: #e2e2e2;
    font-weight: bold;
}

.rulesCell {
    position: relative;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .controls {
        flex-direction: column;
        gap: 10px;
    }

    .productTable th, .productTable td {
        padding: 8px;
    }

    .productTableContainer {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        gap: 10px;
    }

    .productTable th, .productTable td {
        padding: 8px;
    }

    .modalContent {
        width: 90%;
        height: 80%;
    }

    .productTableContainer {
        padding: 8px;
        overflow-x: auto; /* Add horizontal scroll for product table */
    }

    .productTable {
        min-width: 600px; /* Ensure table doesn't shrink too much */
    }
}