.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.newCategoryInput {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form {
        padding: 10px;
    }

    .buttonGroup {
        flex-direction: column;
        gap: 5px;
    }
}