.rulesCell {
    position: relative;
}

.actionsCell {
    background-color: #ffffff;
    z-index: 1; /* Ensure it is below the modal */
    position: relative;
}

.editButton {
    background: linear-gradient(145deg, #FFC107, #FFB300);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.editButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.deleteButton {
    background: linear-gradient(145deg, #ff1100, #e60000);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.deleteButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.addRuleButton {
    background: linear-gradient(145deg, #4CAF50, #43A047);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.addRuleButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}