.listContainer {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.listItem {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.ruleInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.colorBox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .listItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttonGroup {
        flex-direction: column;
        gap: 5px;
    }
}